<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <ul>
      <li><%= link_to 'ユーザ一覧', users_path %></li>
      <% if signed_in? %>
        <li><%= link_to 'プロフィール', current_user %></li>
        <li><%= link_to 'ログアウト', signout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'ログイン', signin_path %></li>
        <li><%= link_to 'アカウント作成', signup_path %></li>
      <% end %>
    </ul>

    <hr>

    <%= yield %>

  </body>
</html>
